<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>2013-04-22-less-is-more-more-is-dependent.md</string>
		</array>
		<array>
			<string>2013-04-25-to-see-in-the-condition.md</string>
		</array>
		<array>
			<string>2013-04-30-for-young.md</string>
		</array>
		<array>
			<string>2013-05-09-ruby-on-rails-association.md</string>
		</array>
		<array>
			<string>2013-05-14-talk-to-programmer.md</string>
		</array>
		<array>
			<string>2013-05-15-know-the-feature-of-losing-team.md</string>
		</array>
		<array>
			<string>2013-05-29-education-thought-one.md</string>
		</array>
		<array>
			<string>2013-06-20-jquery-for-selection.md</string>
		</array>
		<array>
			<string>2013-07-14-the-beginning-of-beijing.md</string>
		</array>
		<array>
			<string>2013-09-14-see-the-same-things.md</string>
		</array>
		<array>
			<string>2013-09-29-simple-and-simple-design.md</string>
		</array>
		<array>
			<string>2013-10-12-focus-on-one-point.md</string>
		</array>
		<array>
			<string>2013-10-14-conceptual-model-design.md</string>
		</array>
		<array>
			<string>2013-10-16-design-github-for-windows.md</string>
		</array>
		<array>
			<string>2013-10-29-four-w-and-one-h.md</string>
		</array>
		<array>
			<string>2013-11-07-the-black-hole-of-details.md</string>
		</array>
		<array>
			<string>2013-11-24-the-design-of-pmarker.md</string>
		</array>
		<array>
			<string>2013-12-02-recommend-ads-model.md</string>
		</array>
		<array>
			<string>2013-12-18-the-data-analysis-report.md</string>
		</array>
		<array>
			<string>2014-02-02-Activity-Centered-Design.md</string>
		</array>
		<array>
			<string>2014-03-22-ios7-design-tips.md</string>
		</array>
		<array>
			<string>2014-04-06-register-of-app.md</string>
		</array>
		<array>
			<string>2014-04-11-built-a-shared-topic.md</string>
		</array>
		<array>
			<string>2014-04-28-news-event-timeline-design.md</string>
		</array>
		<array>
			<string>2014-05-02-ucd-sometimes-confuse-you.md</string>
		</array>
		<array>
			<string>2014-05-10-Crucial-Conversation.md</string>
		</array>
		<array>
			<string>2014-05-31-the-food-and-the-emotions.md</string>
		</array>
		<array>
			<string>2014-06-09-focus-on-problems-not-the-plans.md</string>
		</array>
		<array>
			<string>2014-06-14-five-ways-to-talk-with-engineer.md</string>
		</array>
		<array>
			<string>2014-06-16-gratuated.md</string>
		</array>
		<array>
			<string>2014-06-26-both-feet-on-the-ground.md</string>
		</array>
		<array>
			<string>2014-11-05-stop-to-write-now.md</string>
		</array>
		<array>
			<string>2015-02-11-childhood.md</string>
		</array>
	</array>
	<key>userIconName</key>
	<string>Rocket</string>
</dict>
</plist>
